@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  font-size: 62.5%;
  --primary-color: #7dc3af;
  --secondary-color: #065A82;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #7dc3af;
}

h1 {
    margin: 2rem 0 0.5rem 0;
    font-size: 4rem;
}

h2 {
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
}

.App {
    text-align: center;
}
  
.container {
    max-width: 110rem;
    margin: 0 auto;
    overflow: auto;
    padding: 0 4rem;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    transition: all 0.2s;
    background-color: #e27d5f;
}

.btn:hover {
    transform: scale(.97);
    color:#333;
    background-color:#FFFFFF;
}

.btn-remove {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    width: 30%;
    height: 30%;
}

.btn-submit {
    margin-bottom: 4rem;
}